body {
    font-family: 'Poppins', sans-serif; 
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    justify-content: center; 
}

.content-wrapper {
  padding: 1rem 1.5rem;
  flex-direction: column;
  gap: 0 !important; 
  box-sizing: border-box;
  position: relative;
}

/* Container com os dois blocos */
.containers-wrapper {
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: stretch;
  flex: 1;
  width: 100%;
  margin-top: 1%;
}

/* Blocos */
.container-materias-assunto {
    background-color: #EEEEEE;
    border-radius: 0.5rem;
    padding: 1.25rem;
    flex: 1;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.container-historico-simulados {
  background-color: #EEEEEE;
  border-radius: 0.5rem;
  padding: 1.25rem;
  flex: 1;
  flex-direction: column;
  display: flex;
  align-items: center;
}

/* Título dos blocos */
.containers-titulo {
  color: #767676;
  font-size: 1rem;
  font-weight: 400;
  margin-bottom: 0.1rem;
  text-align: center;
  text-transform: uppercase;
}

/* Select Dropdowns */

.input-materias,
.input-assuntos {
    background-color: white;
    width: 100%;
    height: 2.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem;
    border-radius: 0.75rem;
    border: none;
}

.inputs-materias-assuntos {
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
    width: 100%;
}

.selectdropdown-simulado-scroll {
  background-color: white;
  width: 100%;
  height: 2rem;
  display: flex;
  align-items: center;
  padding: 0.5rem;
  border-radius: 2rem;
  justify-content: space-between;
}

.selectdropdow-historico {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
  width: 100%;
}


/* Acessar Simulados */

.btn-acessar-simulados {
    background-color: #428633;
    color: white;
    width: 100%;
    height: 2.5rem;
    display: flex;
    justify-content: center;
    border-radius: 0.75rem;
    align-content: center;
    flex-wrap: wrap;
    font-size: 0.7rem;
}

.simulado-item {
  background-color: white;
  border: 1px solid #ccc;
  padding: 0.5rem;
  border-radius: 0.5rem;
  margin-bottom: 0.4rem;
  font-size: 0.75rem;
}