body {
    font-family: 'Poppins', sans-serif; 
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    justify-content: center; 
    height: 100vh; 
    margin: 0; 
    background-color: #e0f2f7; 
    color: #1B4E98; 
}

.costum-digital-library {
  padding: 1rem 1.5rem;
  flex-direction: column;
  gap: 0 !important; 
  box-sizing: border-box;
  position: relative;
}

.buscadorListaLivrosContainer {
    display: flex;
    align-items: center;
    height: 100%;
    gap: 2rem;
    overflow-y: auto;
}

.buscadorContainer {
    width: 20rem;
    background-color: #EEEEEE;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    border-radius: 0.5rem;
}

.pesquisarButton {
    background-color: #2e7d32;
    color: white;
    border: none;
    border-radius: 0.5rem;
    padding: 0.5rem 1rem;
    cursor: pointer;
}

.pesquisarButton:hover {
  background-color: #439247;
}

.input {
    height: 2rem;
    border-radius: 0.5rem;
    border: none;
    width: 95%;
    height: 10%;
    padding: 0.2rem;
    font-size: 10px;
}

.tituloBuscadorContainer {
    display: flex;
    justify-content: center;
    width: 100%;
}

.listaLivrosContainer {
    width: 48%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 0.5rem;
    /* box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); */
    overflow-y: scroll;
    scrollbar-width: auto;
}

.listaLivrosContainer::-webkit-scrollbar {
  display: block; 
  width: 0.5rem;
}

.listaLivrosContainer::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.2); 
  border-radius: 0.3rem;
}

.listaLivrosContainer::-webkit-scrollbar-track {
  background-color: transparent; 
}
/* Calma Calabreso */
/* .livro-item {
  width: 90%;
  background-color: #ffffff;
  padding: 1rem;
  margin-top: 0.5rem;
  border-radius: 0.5rem;
  border: 1px solid #ccc;
  font-size: 10px;
}

.btn-download {
  display: inline-block;
  margin-top: 5px;
  padding: 3px 8px;
  background-color: #2e7d32;
  color: white;
  text-decoration: none;
  border-radius: 4px;
  font-size: 10px;
} */

 .livro-imagem {
  width: 3rem;
} 

.btn-download:hover {
  background-color: #439247;
}

.livro-item {
  width: 90%;
  background-color: #ffffff;
  padding: 1rem;
  margin-top: 0.5rem;
  border-radius: 0.5rem;
  border: 1px solid #ccc;
  font-size: 10px;
}

.livro-conteudo {
  display: grid;
  grid-template-columns: 1fr auto;
  gap: 1rem;
  align-items: center;
}

.livro-texto {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.btn-download {
  display: inline-block;
  margin-top: 5px;
  padding: 3px 8px;
  background-color: #2e7d32;
  color: white;
  text-decoration: none;
  border-radius: 4px;
  font-size: 10px;
  max-width: 3rem;
}

.livro-imagem-wrapper {
  max-width: 120px;
}

.livro-imagem {
  height: auto;
  border-radius: 6px;
}