/* Variáveis de cores */
:root {
    --primary-blue: #1B4E98;
    --dark-blue: #0056b3;
    --light-gray: #F3F3F3;
    --text-dark: #080808;
    --text-medium-gray: #939393;
    --white: #FFFFFF;
    --text-purple: #894795;
}

/* Reset básico e body com fundo */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
}

body {
    font-family: 'Poppins', sans-serif;
    background: url('../images/background.png') no-repeat center center/cover;
    /* impede overflow horizontal */
    overflow-x: hidden;
}

/* Header de logos posicionado no topo */
.logo-header {
    position: absolute;
    top: 1rem;
    left: -1rem;
    border-radius: 18px;
    display: flex;
    align-items: center;
}

/* Ajuste responsivo do logo-header em telas pequenas */
@media (max-width: 768px) {
    .logo-header {
        position: relative;
        top: auto;
        left: auto;
        margin: 1rem auto;
    }
}

.logo-vv {
    position: absolute;
    top: 92%;
    left: 96%;
    z-index: 10;
    border-radius: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo-vv:hover, .logo-vv:focus, .logo-vv:active {
  -webkit-transform: translateY(-8px);
  transform: translateY(-8px);
}

